n8n-workflows/01-demo-done-agreement-sender.json
{
  "name": "01 - Agreement Signed \u2192 Send Agreement Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deal-proposal-sent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-demo-done",
      "name": "Webhook - Agreement Signed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "deal.agreement_signed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-event",
      "name": "Filter - agreement_signed only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "michael@revenuecs.com",
        "toEmail": "={{ $json.contactEmail }}",
        "subject": "Your RevenueCS agreement is ready to sign",
        "emailFormat": "html",
        "message": "<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"padding:40px 20px;\">\n<table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:#0f0f0f;padding:32px 40px;\">\n  <p style=\"margin:0;font-size:13px;font-weight:600;letter-spacing:0.1em;color:#a5b4fc;text-transform:uppercase;\">RevenueCS</p>\n  <h1 style=\"margin:8px 0 0;font-size:22px;font-weight:700;color:#ffffff;line-height:1.3;\">Your agreement is ready to sign.</h1>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\">\n  <p style=\"margin:0 0 16px;font-size:15px;color:#374151;line-height:1.6;\">Hey {{ $json.contactName }},</p>\n  <p style=\"margin:0 0 20px;font-size:15px;color:#374151;line-height:1.6;\">Great talking through everything on our call. I've put the formal agreement together \u2014 it covers exactly what we discussed and lays out the full scope of your <strong>{{ $json.systemType }}</strong> build.</p>\n  <p style=\"margin:0 0 24px;font-size:15px;color:#374151;line-height:1.6;\">Review it, sign it, and we'll lock in your build start date this week. Takes about 2 minutes to sign.</p>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9fafb;border-radius:8px;width:100%;margin-bottom:28px;\">\n    <tr><td style=\"padding:20px 24px;\">\n      <p style=\"margin:0 0 12px;font-size:12px;font-weight:600;color:#6b7280;text-transform:uppercase;letter-spacing:0.08em;\">What you're getting</p>\n      <p style=\"margin:0 0 6px;font-size:14px;color:#111827;\">&#10003; <strong>{{ $json.systemType }}</strong> \u2014 built and managed by RevenueCS</p>\n      <p style=\"margin:0 0 6px;font-size:14px;color:#111827;\">&#10003; Full compliance review and script optimization</p>\n      <p style=\"margin:0 0 6px;font-size:14px;color:#111827;\">&#10003; Dedicated kickoff call + hands-on onboarding support</p>\n      <p style=\"margin:0 0 16px;font-size:14px;color:#111827;\">&#10003; Weekly ROI reporting and ongoing management</p>\n      <hr style=\"border:none;border-top:1px solid #e5e7eb;margin:0 0 16px;\">\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Setup fee:</strong> ${{ $json.setupFee }}</p>\n      <p style=\"margin:0;font-size:14px;color:#111827;\"><strong>Monthly retainer:</strong> ${{ $json.monthlyRetainer }}/mo</p>\n    </td></tr>\n  </table>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px;\"><tr><td style=\"background:#6366f1;border-radius:8px;\">\n    <a href=\"{{ $json.agreementTemplateUrl }}\" style=\"display:inline-block;padding:14px 32px;color:#ffffff;text-decoration:none;font-size:15px;font-weight:600;\">Review &amp; Sign Your Agreement &#8594;</a>\n  </td></tr></table>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fffbeb;border:1px solid #fcd34d;border-radius:8px;width:100%;margin-bottom:28px;\">\n    <tr><td style=\"padding:14px 20px;\">\n      <p style=\"margin:0;font-size:13px;color:#92400e;line-height:1.5;\"><strong>Build slots fill fast.</strong> Once you sign we schedule your kickoff call within 48 hours and get you in the build queue immediately. Questions before signing? Just reply here \u2014 I'll turn it around fast.</p>\n    </td></tr>\n  </table>\n  <p style=\"margin:0 0 4px;font-size:14px;color:#374151;line-height:1.6;\">Looking forward to building this with you.</p>\n  <p style=\"margin:0;font-size:14px;color:#374151;\">\u2014 Michael</p>\n</td></tr>\n<tr><td style=\"background:#f9fafb;padding:20px 40px;border-top:1px solid #e5e7eb;\">\n  <p style=\"margin:0;font-size:13px;color:#9ca3af;\">Michael \u2014 RevenueCS &nbsp;&#183;&nbsp; michael@revenuecs.com</p>\n</td></tr>\n</table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "email-to-prospect",
      "name": "Email - Agreement to Prospect",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        680,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "LViY7g19KwnPtnEG",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "michael@revenuecs.com",
        "toEmail": "michael@revenuecs.com",
        "subject": "&#127919; Agreement Sent \u2014 {{ $json.contactName }} | {{ $json.systemType }}",
        "emailFormat": "html",
        "message": "<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"padding:32px 20px;\">\n<table width=\"540\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06);\">\n<tr><td style=\"background:#1e1b4b;padding:24px 32px;\">\n  <p style=\"margin:0;font-size:11px;font-weight:700;letter-spacing:0.12em;color:#a5b4fc;text-transform:uppercase;\">Internal Alert \u2014 RevenueCS</p>\n  <h2 style=\"margin:6px 0 0;font-size:18px;font-weight:700;color:#ffffff;\">Agreement sent to {{ $json.contactName }}</h2>\n</td></tr>\n<tr><td style=\"padding:28px 32px;\">\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8fafc;border-radius:8px;width:100%;margin-bottom:20px;\">\n    <tr><td style=\"padding:16px 20px;\">\n      <p style=\"margin:0 0 10px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.08em;\">Deal Summary</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Contact:</strong> {{ $json.contactName }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Email:</strong> {{ $json.contactEmail }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>System:</strong> {{ $json.systemType }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Setup fee:</strong> ${{ $json.setupFee }}</p>\n      <p style=\"margin:0;font-size:14px;color:#111827;\"><strong>Monthly retainer:</strong> ${{ $json.monthlyRetainer }}/mo</p>\n    </td></tr>\n  </table>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fef3c7;border:1px solid #f59e0b;border-radius:8px;width:100%;margin-bottom:20px;\">\n    <tr><td style=\"padding:14px 20px;\">\n      <p style=\"margin:0 0 4px;font-size:13px;font-weight:700;color:#92400e;\">Action required</p>\n      <p style=\"margin:0;font-size:13px;color:#92400e;line-height:1.5;\">Follow up within 24 hours if no signature. Log any responses in CaptureOS. Offer to answer questions \u2014 the most common hold-up is a clause question.</p>\n    </td></tr>\n  </table>\n  <p style=\"margin:0;font-size:13px;color:#6b7280;\">Agreement link sent: <a href=\"{{ $json.agreementTemplateUrl }}\" style=\"color:#6366f1;\">view document</a></p>\n</td></tr>\n</table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "email-internal-demo",
      "name": "Email - Internal Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        680,
        380
      ],
      "credentials": {
        "smtp": {
          "id": "LViY7g19KwnPtnEG",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://captureos.app/api/n8n-inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "revenuecssecret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "action": "create_activity",
          "type": "email",
          "title": "Agreement emailed to prospect",
          "body": "Auto-sent via n8n after agreement_signed stage. Agreement URL included.",
          "dealId": "={{ $json.dealId }}"
        },
        "options": {}
      },
      "id": "log-activity-demo",
      "name": "CRM - Log Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }"
      },
      "id": "respond-demo",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        500
      ]
    }
  ],
  "connections": {
    "Webhook - Agreement Signed": {
      "main": [
        [
          {
            "node": "Filter - agreement_signed only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - agreement_signed only": {
      "main": [
        [
          {
            "node": "Email - Agreement to Prospect",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Internal Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Agreement to Prospect": {
      "main": [
        [
          {
            "node": "CRM - Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}