n8n-workflows/02-agreement-signed-onboarding.json
{
  "name": "02 - Agreement Signed → Onboarding Kickoff",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deal-agreement-signed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-signed",
      "name": "Webhook - Agreement Signed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "deal.agreement_signed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-signed",
      "name": "Filter - agreement_signed only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "michael@revenuecs.com",
        "toEmail": "={{ $json.contactEmail }}",
        "subject": "You're in. Let's get to work.",
        "emailFormat": "html",
        "message": "<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"padding:40px 20px;\">\n<table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:#0f0f0f;padding:32px 40px;\">\n  <p style=\"margin:0;font-size:13px;font-weight:600;letter-spacing:0.1em;color:#86efac;text-transform:uppercase;\">RevenueCS — Onboarding</p>\n  <h1 style=\"margin:8px 0 0;font-size:22px;font-weight:700;color:#ffffff;line-height:1.3;\">You're in. Complete your intake form to start your build.</h1>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\">\n  <p style=\"margin:0 0 16px;font-size:15px;color:#374151;line-height:1.6;\">{{ $json.contactName }},</p>\n  <p style=\"margin:0 0 20px;font-size:15px;color:#374151;line-height:1.6;\">Your <strong>{{ $json.systemType }}</strong> system is in the build queue. To start, complete your intake form — it takes 10 minutes and is the only thing we need before we begin.</p>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:32px;\"><tr><td style=\"background:#6366f1;border-radius:8px;\">\n    <a href=\"{{ $json.intakeFormUrl }}\" style=\"display:inline-block;padding:14px 32px;color:#ffffff;text-decoration:none;font-size:15px;font-weight:600;\">Complete Your Intake Form &#8594;</a>\n  </td></tr></table>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9fafb;border-radius:8px;width:100%;margin-bottom:28px;\">\n    <tr><td style=\"padding:20px 24px;\">\n      <p style=\"margin:0 0 12px;font-size:12px;font-weight:600;color:#6b7280;text-transform:uppercase;letter-spacing:0.08em;\">What happens after you submit</p>\n      <p style=\"margin:0 0 8px;font-size:14px;color:#111827;\"><strong>1.</strong> Compliance review + kickoff call scheduled (within 48 hrs)</p>\n      <p style=\"margin:0 0 8px;font-size:14px;color:#111827;\"><strong>2.</strong> Build phase — scripting, VAPI config, Twilio setup, testing</p>\n      <p style=\"margin:0 0 8px;font-size:14px;color:#111827;\"><strong>3.</strong> Soft launch — live test with real calls</p>\n      <p style=\"margin:0;font-size:14px;color:#16a34a;font-weight:600;\">4. Full launch — system is live and dialing</p>\n    </td></tr>\n  </table>\n  <p style=\"margin:0 0 4px;font-size:14px;color:#374151;line-height:1.6;\">Questions? Reply to this email directly.</p>\n  <p style=\"margin:0;font-size:14px;color:#374151;\">— Michael</p>\n</td></tr>\n<tr><td style=\"background:#f9fafb;padding:20px 40px;border-top:1px solid #e5e7eb;\">\n  <p style=\"margin:0;font-size:13px;color:#9ca3af;\">Michael — RevenueCS &nbsp;&#183;&nbsp; michael@revenuecs.com</p>\n</td></tr>\n</table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "email-welcome",
      "name": "Email - Welcome + Intake Form",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        680,
        180
      ],
      "credentials": {
        "smtp": {
          "id": "LViY7g19KwnPtnEG",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "michael@revenuecs.com",
        "toEmail": "michael@revenuecs.com",
        "subject": "&#9989; New Client Signed — {{ $json.contactName }} | {{ $json.systemType }}",
        "emailFormat": "html",
        "message": "<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"padding:32px 20px;\">\n<table width=\"540\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06);\">\n<tr><td style=\"background:#064e3b;padding:24px 32px;\">\n  <p style=\"margin:0;font-size:11px;font-weight:700;letter-spacing:0.12em;color:#6ee7b7;text-transform:uppercase;\">New Client — RevenueCS</p>\n  <h2 style=\"margin:6px 0 0;font-size:18px;font-weight:700;color:#ffffff;\">&#9989; {{ $json.contactName }} is in.</h2>\n</td></tr>\n<tr><td style=\"padding:28px 32px;\">\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8fafc;border-radius:8px;width:100%;margin-bottom:20px;\">\n    <tr><td style=\"padding:16px 20px;\">\n      <p style=\"margin:0 0 10px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.08em;\">Client Details</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Name:</strong> {{ $json.contactName }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Email:</strong> {{ $json.contactEmail }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Business:</strong> {{ $json.dealTitle }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>System:</strong> {{ $json.systemType }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Setup fee:</strong> ${{ $json.setupFee }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Monthly retainer:</strong> ${{ $json.monthlyRetainer }}/mo</p>\n      <p style=\"margin:0;font-size:14px;color:#6b7280;\"><strong>Client ID:</strong> {{ $json.clientId }}</p>\n    </td></tr>\n  </table>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ecfdf5;border:1px solid #6ee7b7;border-radius:8px;width:100%;margin-bottom:20px;\">\n    <tr><td style=\"padding:14px 20px;\">\n      <p style=\"margin:0 0 8px;font-size:13px;font-weight:700;color:#065f46;\">Next steps</p>\n      <p style=\"margin:0 0 4px;font-size:13px;color:#065f46;\">&#9744; Wait for intake form submission (sent automatically to client)</p>\n      <p style=\"margin:0 0 4px;font-size:13px;color:#065f46;\">&#9744; Complete compliance review once intake arrives</p>\n      <p style=\"margin:0 0 4px;font-size:13px;color:#065f46;\">&#9744; Schedule kickoff call within 48 hours of intake submission</p>\n      <p style=\"margin:0;font-size:13px;color:#065f46;\">&#9744; Update client record in CaptureOS as onboarding progresses</p>\n    </td></tr>\n  </table>\n  <p style=\"margin:0;font-size:13px;color:#9ca3af;\">Client record auto-created in CaptureOS. Intake form + welcome email sent automatically via n8n.</p>\n</td></tr>\n</table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "email-internal-signed",
      "name": "Email - Internal New Client Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        680,
        360
      ],
      "credentials": {
        "smtp": {
          "id": "LViY7g19KwnPtnEG",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://captureos.app/api/n8n-inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "revenuecssecret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "action": "update_client_onboarding",
          "clientId": "={{ $json.clientId }}",
          "intakeFormSent": true,
          "onboardingStatus": "intake_sent"
        },
        "options": {}
      },
      "id": "update-crm-intake",
      "name": "CRM - Mark Intake Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://captureos.app/api/n8n-inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "revenuecssecret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "action": "create_activity",
          "type": "email",
          "title": "Onboarding kicked off — intake form sent",
          "body": "Welcome email + intake form auto-sent via n8n on agreement_signed.",
          "dealId": "={{ $json.dealId }}"
        },
        "options": {}
      },
      "id": "log-activity-signed",
      "name": "CRM - Log Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }"
      },
      "id": "respond-signed",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        500
      ]
    }
  ],
  "connections": {
    "Webhook - Agreement Signed": {
      "main": [
        [
          {
            "node": "Filter - agreement_signed only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - agreement_signed only": {
      "main": [
        [
          {
            "node": "Email - Welcome + Intake Form",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Internal New Client Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Welcome + Intake Form": {
      "main": [
        [
          {
            "node": "CRM - Mark Intake Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Internal New Client Alert": {
      "main": [
        [
          {
            "node": "CRM - Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}