n8n-workflows/04-inbound-lead-capture.json
{
  "name": "04 - Website Lead Capture (Play B)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lead",
      "name": "Webhook - Inbound Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.triggerEvent }}",
              "rightValue": "BOOKING_CREATED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-booking-created",
      "name": "Filter - BOOKING_CREATED only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "firstName",
              "name": "firstName",
              "value": "={{ $json.payload.attendees[0].firstName || $json.payload.attendees[0].name.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "lastName",
              "name": "lastName",
              "value": "={{ $json.payload.attendees[0].lastName || $json.payload.attendees[0].name.split(' ').slice(1).join(' ') }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.payload.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.payload.responses?.phone?.value || $json.payload.userFieldsResponses?.phone?.value || '' }}",
              "type": "string"
            },
            {
              "id": "company",
              "name": "company",
              "value": "={{ $json.payload.responses?.company?.value || $json.payload.userFieldsResponses?.company?.value || '' }}",
              "type": "string"
            },
            {
              "id": "systemInterest",
              "name": "systemInterest",
              "value": "={{ $json.payload.responses?.systemInterest?.value || $json.payload.userFieldsResponses?.systemInterest?.value || $json.payload.eventTitle || 'Discovery Call' }}",
              "type": "string"
            },
            {
              "id": "notes",
              "name": "notes",
              "value": "={{ 'Cal.com booking \u2014 ' + $json.payload.title + ' on ' + $json.payload.startTime }}",
              "type": "string"
            },
            {
              "id": "bookingUid",
              "name": "bookingUid",
              "value": "={{ $json.payload.uid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-lead-fields",
      "name": "Set - Map Cal.com Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://captureos.app/api/lead-capture",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-capture-secret",
              "value": "capturecsleads2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "firstName": "={{ $json.firstName }}",
          "lastName": "={{ $json.lastName }}",
          "email": "={{ $json.email }}",
          "phone": "={{ $json.phone }}",
          "company": "={{ $json.company }}",
          "systemInterest": "={{ $json.systemInterest }}",
          "notes": "={{ $json.notes }}",
          "source": "cal.com"
        },
        "options": {}
      },
      "id": "create-crm-lead",
      "name": "CRM - Create Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "michael@revenuecs.com",
        "toEmail": "michael@revenuecs.com",
        "subject": "&#128293; New discovery call booked \u2014 {{ $('Set - Map Cal.com Fields').item.json.firstName }} {{ $('Set - Map Cal.com Fields').item.json.lastName }}",
        "emailFormat": "html",
        "message": "<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"padding:40px 20px;\">\n<table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:#0f0f0f;padding:28px 40px;\">\n  <p style=\"margin:0;font-size:13px;font-weight:600;letter-spacing:0.1em;color:#fbbf24;text-transform:uppercase;\">New Discovery Call Booked</p>\n  <h1 style=\"margin:6px 0 0;font-size:20px;font-weight:700;color:#ffffff;\">{{ $('Set - Map Cal.com Fields').item.json.firstName }} {{ $('Set - Map Cal.com Fields').item.json.lastName }}</h1>\n</td></tr>\n<tr><td style=\"padding:32px 40px;\">\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9fafb;border-radius:8px;width:100%;margin-bottom:24px;\">\n    <tr><td style=\"padding:20px 24px;\">\n      <p style=\"margin:0 0 8px;font-size:12px;font-weight:600;color:#6b7280;text-transform:uppercase;letter-spacing:0.08em;\">Lead details</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Email:</strong> {{ $('Set - Map Cal.com Fields').item.json.email }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Phone:</strong> {{ $('Set - Map Cal.com Fields').item.json.phone || 'Not provided' }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Company:</strong> {{ $('Set - Map Cal.com Fields').item.json.company || 'Not provided' }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Interested in:</strong> {{ $('Set - Map Cal.com Fields').item.json.systemInterest }}</p>\n      <p style=\"margin:0;font-size:14px;color:#111827;\"><strong>Booking:</strong> {{ $('Set - Map Cal.com Fields').item.json.notes }}</p>\n    </td></tr>\n  </table>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fef3c7;border:1px solid #f59e0b;border-radius:8px;width:100%;margin-bottom:24px;\">\n    <tr><td style=\"padding:14px 20px;\">\n      <p style=\"margin:0;font-size:13px;font-weight:700;color:#92400e;\">&#9889; They booked a call \u2014 confirm in Cal.com and prep for the demo.</p>\n    </td></tr>\n  </table>\n  <p style=\"margin:0;font-size:13px;color:#6b7280;\">Lead auto-created in CaptureOS. Source: cal.com</p>\n</td></tr>\n<tr><td style=\"background:#f9fafb;padding:16px 40px;border-top:1px solid #e5e7eb;\">\n  <p style=\"margin:0;font-size:13px;color:#9ca3af;\">RevenueCS \u2014 captureos.app</p>\n</td></tr>\n</table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "email-internal-lead",
      "name": "Email - Internal Lead Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "LViY7g19KwnPtnEG",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toISOString() }}",
            "First Name": "={{ $('Set - Map Cal.com Fields').item.json.firstName }}",
            "Last Name": "={{ $('Set - Map Cal.com Fields').item.json.lastName }}",
            "Email": "={{ $('Set - Map Cal.com Fields').item.json.email }}",
            "Phone": "={{ $('Set - Map Cal.com Fields').item.json.phone || '' }}",
            "Company": "={{ $('Set - Map Cal.com Fields').item.json.company || '' }}",
            "System Interest": "={{ $('Set - Map Cal.com Fields').item.json.systemInterest }}",
            "Booking": "={{ $('Set - Map Cal.com Fields').item.json.notes }}",
            "Lead ID": "={{ $json.leadId || '' }}",
            "Source": "cal.com"
          }
        },
        "options": {}
      },
      "id": "sheets-log-lead",
      "name": "Google Sheets - Log Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }"
      },
      "id": "respond-lead",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        500
      ]
    }
  ],
  "connections": {
    "Webhook - Inbound Lead": {
      "main": [
        [
          {
            "node": "Filter - BOOKING_CREATED only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - BOOKING_CREATED only": {
      "main": [
        [
          {
            "node": "Set - Map Cal.com Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Map Cal.com Fields": {
      "main": [
        [
          {
            "node": "CRM - Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM - Create Lead": {
      "main": [
        [
          {
            "node": "Email - Internal Lead Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Log Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}