n8n-workflows/04-inbound-lead-capture.json
{
  "name": "04 - Website Lead Capture (Play B)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lead",
      "name": "Webhook - Inbound Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "lead.inbound"
            }
          ]
        }
      },
      "id": "filter-lead",
      "name": "Filter - lead.inbound only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "michael@revenuecs.com",
        "toEmail": "michael@revenuecs.com",
        "subject": "🔥 New lead from capturecs.com — {{ $json.firstName }} {{ $json.lastName }}",
        "emailFormat": "html",
        "message": "<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"padding:40px 20px;\">\n<table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:#0f0f0f;padding:28px 40px;\">\n  <p style=\"margin:0;font-size:13px;font-weight:600;letter-spacing:0.1em;color:#fbbf24;text-transform:uppercase;\">New Inbound Lead</p>\n  <h1 style=\"margin:6px 0 0;font-size:20px;font-weight:700;color:#ffffff;\">{{ $json.firstName }} {{ $json.lastName }}</h1>\n</td></tr>\n<tr><td style=\"padding:32px 40px;\">\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9fafb;border-radius:8px;width:100%;margin-bottom:24px;\">\n    <tr><td style=\"padding:20px 24px;\">\n      <p style=\"margin:0 0 8px;font-size:12px;font-weight:600;color:#6b7280;text-transform:uppercase;letter-spacing:0.08em;\">Lead details</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Email:</strong> {{ $json.email }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Phone:</strong> {{ $json.phone || 'Not provided' }}</p>\n      <p style=\"margin:0 0 4px;font-size:14px;color:#111827;\"><strong>Company:</strong> {{ $json.company || 'Not provided' }}</p>\n      <p style=\"margin:0;font-size:14px;color:#111827;\"><strong>Interested in:</strong> {{ $json.systemInterest || 'Not specified' }}</p>\n    </td></tr>\n  </table>\n  <p style=\"margin:0;font-size:14px;color:#6b7280;\">This lead is now in your CaptureOS pipeline. Follow up within 60 seconds for best contact rate.</p>\n</td></tr>\n<tr><td style=\"background:#f9fafb;padding:16px 40px;border-top:1px solid #e5e7eb;\">\n  <p style=\"margin:0;font-size:13px;color:#9ca3af;\">RevenueCS — capturecs.com lead capture</p>\n</td></tr>\n</table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "email-internal-lead",
      "name": "Email - Internal Lead Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }"
      },
      "id": "respond-lead",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 500]
    }
  ],
  "connections": {
    "Webhook - Inbound Lead": {
      "main": [[{ "node": "Filter - lead.inbound only", "type": "main", "index": 0 }]]
    },
    "Filter - lead.inbound only": {
      "main": [
        [
          { "node": "Email - Internal Lead Alert", "type": "main", "index": 0 },
          { "node": "Respond OK", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
