n8n-workflows/05-vitalessence-tiktok-content-creator.json
{
  "name": "05 - VitalEssence TikTok Content Creator",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "product",
              "value": "vitamins",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "topic",
              "value": "morning routine",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "target_audience",
              "value": "women 25-40 looking to boost energy and mental clarity",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-inputs",
      "name": "Set - Content Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 340]
    },
    {
      "parameters": {
        "jsCode": "const OPENAI_API_KEY = $env['OPENAI_API_KEY'];\nconst product = $input.first().json.product;\nconst topic = $input.first().json.topic;\nconst target_audience = $input.first().json.target_audience;\n\nconst SCRIPT_SYSTEM = `You are the creative director for @vitalessencehealth, a TikTok Shop brand selling premium health supplements and wellness products. Your job is to write short-form video scripts that feel authentic, personal, and emotionally resonant — not like ads.\n\nBRAND VOICE:\n- Confident but warm. Like a trusted friend who discovered something life-changing.\n- Conversational, never clinical. No jargon, no buzzwords.\n- Storytelling-first: the product is the solution, not the hero. The audience struggle is the hero.\n- Never salesy. The CTA emerges naturally from the transformation story.\n\nPRODUCT CONTEXT:\n- vitamins: Daily foundational supplement stack. Focus on energy, mental clarity, filling nutritional gaps from modern diets, morning routine integration. Key emotion: I finally feel like myself again.\n- gut_health: Digestive enzyme and probiotic blend. Focus on bloating relief, gut-brain connection, regularity, feeling light after meals, food freedom. Key emotion: I can finally eat without dreading what comes after.\n- nobs_toothpaste: Toothpaste tablets — zero plastic, clean ingredients, travel-friendly. Focus on whiter teeth, fresh breath, clean beauty transition, sustainability. Key emotion: I did not know oral care could feel this good AND be this clean.\n\nSCRIPT STRUCTURE — always follow this arc:\n[HOOK 0-3s]: One punchy line. Creates pattern interrupt. Must stop the scroll.\n[PROBLEM 3-10s]: Relate to the audience specific struggle. Be specific, be real.\n[DISCOVERY 10-20s]: Finding @vitalessencehealth. Keep it organic, not a pitch.\n[TRANSFORMATION 20-35s]: The results. Specific, sensory, believable.\n[CTA 35-45s]: Soft close. Point to TikTok Shop link. One clear action.\n\nSCENE MARKERS — tag each visual transition:\n[SCENE 1] = Hook and Problem visual (relatable moment, person)\n[SCENE 2] = Discovery and Product visual (product in lifestyle context)\n[SCENE 3] = Transformation and CTA visual (results, confident person, product close-up)\n\nOUTPUT FORMAT strict JSON no markdown no explanation:\n{\"voiceover\": \"<clean voiceover text only no stage directions 75-115 words>\", \"scenes\": [\"<Scene 1 visual description for image generation>\", \"<Scene 2 visual description for image generation>\", \"<Scene 3 visual description for image generation>\"], \"hook\": \"<first 1-2 sentences the scroll-stopping hook>\", \"cta\": \"<final 1-2 sentences the call to action>\"}`;\n\nconst SCORER_SYSTEM = `You are a TikTok content quality judge for @vitalessencehealth, a health supplement brand. You evaluate short-form video scripts with ruthless honesty.\n\nYou score on exactly 5 criteria. Each criterion is scored 1-5.\n\nSCORING CRITERIA:\n1. HOOK STRENGTH (1-5) — 5 stops scroll immediately in under 3 seconds. 1 is generic and forgettable.\n2. EMOTIONAL ARC QUALITY (1-5) — 5 is a clear believable problem to discovery to transformation journey. 1 is flat and reads like a feature list.\n3. BRAND VOICE ACCURACY (1-5) — 5 sounds like a real person sharing a genuine discovery, warm, confident, health-focused. 1 sounds like a press release.\n4. PRODUCT BENEFIT ACCURACY (1-5) — 5 has specific credible benefits matching the actual product. 1 has wrong or overclaimed benefits and compliance red flags.\n5. CTA EFFECTIVENESS (1-5) — 5 flows naturally from the story with one clear action to shop. 1 has no clear CTA or it is confusing.\n\nPASS THRESHOLD: Total score must be 18 or higher out of 25.\n\nOUTPUT FORMAT strict JSON no markdown no explanation:\n{\"total_score\": <number 5-25>, \"pass\": <true if total_score >= 18 otherwise false>, \"feedback\": \"<2-3 sentences of specific actionable feedback>\", \"criteria_scores\": {\"hook_strength\": <1-5>, \"emotional_arc\": <1-5>, \"brand_voice\": <1-5>, \"product_accuracy\": <1-5>, \"cta_effectiveness\": <1-5>}}`;\n\nasync function callOpenAI(messages, temperature, maxTokens) {\n  const response = await fetch('https://api.openai.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${OPENAI_API_KEY}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'gpt-4o',\n      messages: messages,\n      temperature: temperature,\n      max_tokens: maxTokens,\n      response_format: { type: 'json_object' }\n    })\n  });\n  const data = await response.json();\n  if (!response.ok) throw new Error('OpenAI API error: ' + JSON.stringify(data.error || data));\n  return JSON.parse(data.choices[0].message.content);\n}\n\nlet attempt = 0;\nlet script = null;\nlet score = null;\nlet passed = false;\n\nwhile (attempt < 3) {\n  attempt++;\n  script = await callOpenAI([\n    { role: 'system', content: SCRIPT_SYSTEM },\n    { role: 'user', content: `Write a TikTok script for @vitalessencehealth.\\n\\nProduct: ${product}\\nTopic: ${topic}\\nTarget Audience: ${target_audience}\\n\\nReturn strict JSON only.` }\n  ], 0.85, 1000);\n\n  score = await callOpenAI([\n    { role: 'system', content: SCORER_SYSTEM },\n    { role: 'user', content: `Score this TikTok script for @vitalessencehealth.\\n\\nProduct: ${product}\\nTarget Audience: ${target_audience}\\n\\nScript: ${JSON.stringify(script)}\\n\\nReturn strict JSON only.` }\n  ], 0.2, 600);\n\n  if (score.pass === true) {\n    passed = true;\n    break;\n  }\n}\n\nreturn [{ json: { script, score, passed, attempt_count: attempt, product, topic, target_audience } }];"
      },
      "id": "code-script",
      "name": "Code - Script Gen + Score Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "score-pass",
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-score",
      "name": "IF - Score Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [940, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/pNInz6obpgDQGcFmaJgB",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env['ELEVENLABS_API_KEY'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "text": "={{ $('Code - Script Gen + Score Loop').item.json.script.voiceover }}",
          "model_id": "eleven_multilingual_v2",
          "voice_settings": {
            "stability": 0.75,
            "similarity_boost": 0.85,
            "style": 0.3,
            "use_speaker_boost": true
          }
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "voiceover_audio"
            }
          }
        }
      },
      "id": "elevenlabs",
      "name": "ElevenLabs - Adam Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 200]
    },
    {
      "parameters": {
        "jsCode": "const OPENAI_API_KEY = $env['OPENAI_API_KEY'];\n\nconst scriptData = $('Code - Script Gen + Score Loop').item.json;\nconst script = scriptData.script;\nconst score = scriptData.score;\nconst product = scriptData.product;\nconst topic = scriptData.topic;\nconst target_audience = scriptData.target_audience;\nconst attempt_count = scriptData.attempt_count;\n\n// Get voiceover binary from ElevenLabs\nconst elevenlabsBinary = $input.first().binary;\nconst audioData = elevenlabsBinary?.voiceover_audio?.data || '';\n\nconst productStyleHints = {\n  vitamins: 'health supplements, morning routine, supplement bottle with capsules, glass of water, natural wellness',\n  gut_health: 'digestive health supplement, probiotic, gut wellness, fresh vegetables nearby, clean kitchen',\n  nobs_toothpaste: 'toothpaste tablets, sustainable oral care, minimalist bathroom shelf, clean white teeth, eco-friendly tin'\n};\nconst styleHint = productStyleHints[product] || 'health and wellness product';\n\nconst sceneStyleSuffixes = [\n  'relatable everyday candid moment, warm natural window light, authentic lifestyle photography',\n  'clean professional product photography, neutral or white background, soft studio lighting',\n  'aspirational confident portrait, bright natural outdoor lighting, transformation energy'\n];\n\nasync function generateImage(sceneDescription, styleSuffix) {\n  const prompt = `${sceneDescription} | Style: photorealistic, TikTok vertical 9:16 format, health and wellness aesthetic, ${styleSuffix}, ${styleHint} | No text overlays, no logos, no watermarks`;\n  const response = await fetch('https://api.openai.com/v1/images/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${OPENAI_API_KEY}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'dall-e-3',\n      prompt: prompt,\n      n: 1,\n      size: '1024x1792',\n      quality: 'standard',\n      response_format: 'b64_json'\n    })\n  });\n  const data = await response.json();\n  if (!response.ok) throw new Error('DALL-E error: ' + JSON.stringify(data.error || data));\n  return data.data[0].b64_json;\n}\n\nconst [scene01, scene02, scene03] = await Promise.all([\n  generateImage(script.scenes[0], sceneStyleSuffixes[0]),\n  generateImage(script.scenes[1], sceneStyleSuffixes[1]),\n  generateImage(script.scenes[2], sceneStyleSuffixes[2])\n]);\n\nconst line = '─'.repeat(48);\nconst scriptText = `VITALESSENCE TIKTOK CONTENT PACKAGE\\n${'='.repeat(50)}\\n\\nProduct: ${product}\\nTopic: ${topic}\\nTarget Audience: ${target_audience}\\nGenerated: ${new Date().toISOString()}\\n\\n${line}\\nQUALITY SCORE REPORT\\n${line}\\nTotal Score: ${score.total_score}/25 (${score.pass ? 'PASSED' : 'FAILED'})\\nAttempts to pass: ${attempt_count}\\n\\nCriteria Breakdown:\\n  Hook Strength:     ${score.criteria_scores.hook_strength}/5\\n  Emotional Arc:     ${score.criteria_scores.emotional_arc}/5\\n  Brand Voice:       ${score.criteria_scores.brand_voice}/5\\n  Product Accuracy:  ${score.criteria_scores.product_accuracy}/5\\n  CTA Effectiveness: ${score.criteria_scores.cta_effectiveness}/5\\n\\nFeedback: ${score.feedback}\\n\\n${line}\\nSCRIPT\\n${line}\\n\\nHOOK (0-3s):\\n${script.hook}\\n\\nFULL VOICEOVER:\\n${script.voiceover}\\n\\nCTA:\\n${script.cta}\\n\\n${line}\\nSCENE IMAGE DESCRIPTIONS\\n${line}\\n[SCENE 1 - Hook/Problem]: ${script.scenes[0]}\\n[SCENE 2 - Discovery/Product]: ${script.scenes[1]}\\n[SCENE 3 - Transformation/CTA]: ${script.scenes[2]}\\n`;\n\nreturn [{\n  json: {\n    script,\n    score,\n    product,\n    topic,\n    target_audience,\n    attempt_count,\n    scriptText\n  },\n  binary: {\n    voiceover_audio: {\n      data: audioData,\n      mimeType: 'audio/mpeg',\n      fileName: 'voiceover.mp3'\n    },\n    scene_01: {\n      data: scene01,\n      mimeType: 'image/png',\n      fileName: 'scene_01.png'\n    },\n    scene_02: {\n      data: scene02,\n      mimeType: 'image/png',\n      fileName: 'scene_02.png'\n    },\n    scene_03: {\n      data: scene03,\n      mimeType: 'image/png',\n      fileName: 'scene_03.png'\n    }\n  }\n}];"
      },
      "id": "code-images",
      "name": "Code - Generate Images + Package Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 200]
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "={{ $now.format('yyyy-MM-dd') + ' - ' + $('Code - Generate Images + Package Assets').item.json.product + ' - ' + $('Code - Generate Images + Package Assets').item.json.topic.replace(/ /g, '-') }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "GOOGLE_DRIVE_PARENT_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-folder",
      "name": "Google Drive - Create Content Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1660, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-cred",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "script.txt",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Google Drive - Create Content Folder').item.json.id }}",
          "mode": "id"
        },
        "binaryData": false,
        "fileContent": "={{ $('Code - Generate Images + Package Assets').item.json.scriptText }}",
        "mimeType": "text/plain",
        "options": {}
      },
      "id": "gdrive-script",
      "name": "Google Drive - Upload script.txt",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 80],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-cred",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "voiceover.mp3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Google Drive - Create Content Folder').item.json.id }}",
          "mode": "id"
        },
        "binaryData": true,
        "inputBinaryField": "voiceover_audio",
        "mimeType": "audio/mpeg",
        "options": {}
      },
      "id": "gdrive-audio",
      "name": "Google Drive - Upload voiceover.mp3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-cred",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "scene_01.png",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Google Drive - Create Content Folder').item.json.id }}",
          "mode": "id"
        },
        "binaryData": true,
        "inputBinaryField": "scene_01",
        "mimeType": "image/png",
        "options": {}
      },
      "id": "gdrive-scene1",
      "name": "Google Drive - Upload scene_01.png",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 320],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-cred",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "scene_02.png",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Google Drive - Create Content Folder').item.json.id }}",
          "mode": "id"
        },
        "binaryData": true,
        "inputBinaryField": "scene_02",
        "mimeType": "image/png",
        "options": {}
      },
      "id": "gdrive-scene2",
      "name": "Google Drive - Upload scene_02.png",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 440],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-cred",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "scene_03.png",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Google Drive - Create Content Folder').item.json.id }}",
          "mode": "id"
        },
        "binaryData": true,
        "inputBinaryField": "scene_03",
        "mimeType": "image/png",
        "options": {}
      },
      "id": "gdrive-scene3",
      "name": "Google Drive - Upload scene_03.png",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 560],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-cred",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "o1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "o2",
              "name": "product",
              "value": "={{ $('Code - Generate Images + Package Assets').item.json.product }}",
              "type": "string"
            },
            {
              "id": "o3",
              "name": "topic",
              "value": "={{ $('Code - Generate Images + Package Assets').item.json.topic }}",
              "type": "string"
            },
            {
              "id": "o4",
              "name": "score_total",
              "value": "={{ $('Code - Generate Images + Package Assets').item.json.score.total_score }}",
              "type": "number"
            },
            {
              "id": "o5",
              "name": "attempt_count",
              "value": "={{ $('Code - Generate Images + Package Assets').item.json.attempt_count }}",
              "type": "number"
            },
            {
              "id": "o6",
              "name": "hook",
              "value": "={{ $('Code - Generate Images + Package Assets').item.json.script.hook }}",
              "type": "string"
            },
            {
              "id": "o7",
              "name": "voiceover",
              "value": "={{ $('Code - Generate Images + Package Assets').item.json.script.voiceover }}",
              "type": "string"
            },
            {
              "id": "o8",
              "name": "folder_url",
              "value": "=https://drive.google.com/drive/folders/{{ $('Google Drive - Create Content Folder').item.json.id }}",
              "type": "string"
            },
            {
              "id": "o9",
              "name": "files",
              "value": "={{ { script_url: 'https://drive.google.com/file/d/' + $('Google Drive - Upload script.txt').item.json.id + '/view', voiceover_url: 'https://drive.google.com/file/d/' + $('Google Drive - Upload voiceover.mp3').item.json.id + '/view', scene_01_url: 'https://drive.google.com/file/d/' + $('Google Drive - Upload scene_01.png').item.json.id + '/view', scene_02_url: 'https://drive.google.com/file/d/' + $('Google Drive - Upload scene_02.png').item.json.id + '/view', scene_03_url: 'https://drive.google.com/file/d/' + $('Google Drive - Upload scene_03.png').item.json.id + '/view' } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-output",
      "name": "Set - Final Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2160, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "message",
              "value": "Script failed to meet quality threshold (score >= 18/25) after 3 attempts. Manual review required.",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "product",
              "value": "={{ $json.product }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "last_score",
              "value": "={{ $json.score }}",
              "type": "object"
            },
            {
              "id": "f6",
              "name": "last_script",
              "value": "={{ $json.script }}",
              "type": "object"
            },
            {
              "id": "f7",
              "name": "failure_report",
              "value": "=VITALESSENCE CONTENT GENERATION - FAILURE REPORT\n==========================================\n\nProduct: {{ $json.product }}\nTopic: {{ $json.topic }}\nTarget Audience: {{ $json.target_audience }}\nDate: {{ $now.toISO() }}\n\nReason: Script failed quality threshold after 3 attempts.\nRequired: 18/25 minimum score\nLast score: {{ $json.score.total_score }}/25\n\nScorer Feedback: {{ $json.score.feedback }}\n\nCriteria Scores:\n  Hook Strength:     {{ $json.score.criteria_scores.hook_strength }}/5\n  Emotional Arc:     {{ $json.score.criteria_scores.emotional_arc }}/5\n  Brand Voice:       {{ $json.score.criteria_scores.brand_voice }}/5\n  Product Accuracy:  {{ $json.score.criteria_scores.product_accuracy }}/5\n  CTA Effectiveness: {{ $json.score.criteria_scores.cta_effectiveness }}/5\n\nLast Script Attempt:\n{{ $json.score.feedback }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-failure",
      "name": "Set - Failure Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 520]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=failure-report-{{ $json.product }}-{{ $json.topic.replace(/ /g, '-') }}-{{ $now.format('yyyy-MM-dd') }}.txt",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "GOOGLE_DRIVE_PARENT_FOLDER_ID",
          "mode": "id"
        },
        "binaryData": false,
        "fileContent": "={{ $json.failure_report }}",
        "mimeType": "text/plain",
        "options": {}
      },
      "id": "gdrive-failure",
      "name": "Google Drive - Upload Failure Report",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1420, 520],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-cred",
          "name": "Google Drive"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Set - Content Request", "type": "main", "index": 0 }]
      ]
    },
    "Set - Content Request": {
      "main": [
        [{ "node": "Code - Script Gen + Score Loop", "type": "main", "index": 0 }]
      ]
    },
    "Code - Script Gen + Score Loop": {
      "main": [
        [{ "node": "IF - Score Gate", "type": "main", "index": 0 }]
      ]
    },
    "IF - Score Gate": {
      "main": [
        [{ "node": "ElevenLabs - Adam Voiceover", "type": "main", "index": 0 }],
        [{ "node": "Set - Failure Payload", "type": "main", "index": 0 }]
      ]
    },
    "ElevenLabs - Adam Voiceover": {
      "main": [
        [{ "node": "Code - Generate Images + Package Assets", "type": "main", "index": 0 }]
      ]
    },
    "Code - Generate Images + Package Assets": {
      "main": [
        [{ "node": "Google Drive - Create Content Folder", "type": "main", "index": 0 }]
      ]
    },
    "Google Drive - Create Content Folder": {
      "main": [
        [
          { "node": "Google Drive - Upload script.txt", "type": "main", "index": 0 },
          { "node": "Google Drive - Upload voiceover.mp3", "type": "main", "index": 0 },
          { "node": "Google Drive - Upload scene_01.png", "type": "main", "index": 0 },
          { "node": "Google Drive - Upload scene_02.png", "type": "main", "index": 0 },
          { "node": "Google Drive - Upload scene_03.png", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Drive - Upload script.txt": {
      "main": [
        [{ "node": "Set - Final Output", "type": "main", "index": 0 }]
      ]
    },
    "Google Drive - Upload voiceover.mp3": {
      "main": [
        [{ "node": "Set - Final Output", "type": "main", "index": 0 }]
      ]
    },
    "Google Drive - Upload scene_01.png": {
      "main": [
        [{ "node": "Set - Final Output", "type": "main", "index": 0 }]
      ]
    },
    "Google Drive - Upload scene_02.png": {
      "main": [
        [{ "node": "Set - Final Output", "type": "main", "index": 0 }]
      ]
    },
    "Google Drive - Upload scene_03.png": {
      "main": [
        [{ "node": "Set - Final Output", "type": "main", "index": 0 }]
      ]
    },
    "Set - Failure Payload": {
      "main": [
        [{ "node": "Google Drive - Upload Failure Report", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
