n8n-workflows/05-vitalessence-tiktok-content-creator.json
{
  "name": "05 - VitalEssence TikTok Content Creator",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "p1", "name": "product", "value": "vitamins", "type": "string" },
            { "id": "p2", "name": "topic", "value": "morning routine", "type": "string" },
            { "id": "p3", "name": "target_audience", "value": "women 25-40 looking to boost energy and mental clarity", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-inputs",
      "name": "Set - Content Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 340]
    },
    {
      "parameters": {
        "jsCode": "const OPENAI_API_KEY = $env['OPENAI_API_KEY'];\nconst product = $input.first().json.product;\nconst topic = $input.first().json.topic;\nconst target_audience = $input.first().json.target_audience;\n\nconst SCRIPT_SYSTEM = `You are the creative director for @vitalessencehealth, a TikTok Shop brand with a wacky, fun, Pixar-style animated aesthetic. Your scripts are playful, emotionally resonant storytelling — like an animated short film where the product saves the day.\n\nBRAND VOICE:\n- Energetic, fun, and warm. Like a cartoon character who found the secret to feeling amazing.\n- Wacky but relatable. Exaggerated reactions and situations are encouraged.\n- Storytelling-first: the audience struggle is the hero. The product is the magical solution.\n- Never salesy. The CTA lands naturally as the happy ending.\n\nPRODUCT CONTEXT:\n- vitamins: Daily supplement stack. Energy, mental clarity, filling nutritional gaps. Key emotion: I finally feel like the main character of my own life.\n- gut_health: Digestive enzyme and probiotic blend. Bloating relief, gut-brain connection, food freedom. Key emotion: I can finally eat my favorite foods without my stomach staging a revolt.\n- nobs_toothpaste: Toothpaste tablets — zero plastic, clean ingredients, travel-friendly. Whiter teeth, fresh breath, clean beauty. Key emotion: My bathroom routine just became the main character arc.\n\nSCRIPT STRUCTURE — always follow this arc:\n[HOOK 0-3s]: Wacky, surprising, stops the scroll. Exaggerated situation or bold question.\n[PROBLEM 3-10s]: Relatable struggle told with humor and heart.\n[DISCOVERY 10-20s]: Finding @vitalessencehealth. Feels like fate, not an ad.\n[TRANSFORMATION 20-35s]: The animated glow-up. Specific, sensory, fun.\n[CTA 35-45s]: Soft close pointing to TikTok Shop. One clear joyful action.\n\nSCENE STRUCTURE:\nReturn exactly 20 scene descriptions. Scenes 1-17 are animated story moments (AI-generated Pixar style). Scenes 18-20 are CTA moments — describe them as IRL product shots that the creator will film themselves (TikTok Shop overlay, product closeup, creator holding product).\n\nOUTPUT FORMAT strict JSON no markdown:\n{\"voiceover\": \"<clean voiceover 75-115 words>\", \"scenes\": [\"<scene 1 description>\", \"<scene 2 description>\", ..., \"<scene 20 description>\"], \"hook\": \"<scroll-stopping first line>\", \"cta\": \"<final CTA line>\"}`;\n\nconst SCORER_SYSTEM = `You are a TikTok quality judge for @vitalessencehealth. Score on 5 criteria 1-5 each. Pass threshold is 18 out of 25.\n\n1. HOOK STRENGTH (1-5) — stops scroll in 3 seconds, wacky and surprising\n2. EMOTIONAL ARC (1-5) — clear fun problem to magical solution journey\n3. BRAND VOICE (1-5) — wacky Pixar energy, warm, not salesy\n4. PRODUCT ACCURACY (1-5) — correct specific benefits, no compliance red flags\n5. CTA EFFECTIVENESS (1-5) — natural happy ending pointing to TikTok Shop\n\nOUTPUT strict JSON: {\"total_score\": <5-25>, \"pass\": <true if >=18>, \"feedback\": \"<2-3 sentences>\", \"criteria_scores\": {\"hook_strength\": <1-5>, \"emotional_arc\": <1-5>, \"brand_voice\": <1-5>, \"product_accuracy\": <1-5>, \"cta_effectiveness\": <1-5>}}`;\n\nasync function callOpenAI(messages, temperature, maxTokens) {\n  const res = await fetch('https://api.openai.com/v1/chat/completions', {\n    method: 'POST',\n    headers: { 'Authorization': `Bearer ${OPENAI_API_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ model: 'gpt-4o', messages, temperature, max_tokens: maxTokens, response_format: { type: 'json_object' } })\n  });\n  const data = await res.json();\n  if (!res.ok) throw new Error('OpenAI error: ' + JSON.stringify(data.error || data));\n  return JSON.parse(data.choices[0].message.content);\n}\n\nlet attempt = 0, script = null, score = null, passed = false;\n\nwhile (attempt < 3) {\n  attempt++;\n  script = await callOpenAI([\n    { role: 'system', content: SCRIPT_SYSTEM },\n    { role: 'user', content: `Write a TikTok script for @vitalessencehealth.\\n\\nProduct: ${product}\\nTopic: ${topic}\\nTarget Audience: ${target_audience}\\n\\nReturn strict JSON with exactly 20 scenes.` }\n  ], 0.85, 1200);\n\n  if (!Array.isArray(script.scenes) || script.scenes.length < 18) {\n    script.scenes = (script.scenes || []).concat(Array(20).fill('Wacky animated scene')).slice(0, 20);\n  }\n\n  score = await callOpenAI([\n    { role: 'system', content: SCORER_SYSTEM },\n    { role: 'user', content: `Score this script.\\n\\nProduct: ${product}\\nAudience: ${target_audience}\\n\\nScript: ${JSON.stringify(script)}\\n\\nReturn strict JSON.` }\n  ], 0.2, 600);\n\n  if (score.pass === true) { passed = true; break; }\n}\n\nreturn [{ json: { script, score, passed, attempt_count: attempt, product, topic, target_audience } }];"
      },
      "id": "code-script",
      "name": "Code - Script Gen + Score Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "pass-check", "leftValue": "={{ $json.passed }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-score",
      "name": "IF - Score Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [940, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/pNInz6obpgDQGcFmaJgB",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xi-api-key", "value": "={{ $env['ELEVENLABS_API_KEY'] }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "audio/mpeg" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "text": "={{ $('Code - Script Gen + Score Loop').item.json.script.voiceover }}",
          "model_id": "eleven_multilingual_v2",
          "voice_settings": { "stability": 0.75, "similarity_boost": 0.85, "style": 0.3, "use_speaker_boost": true }
        },
        "options": {
          "response": {
            "response": { "responseFormat": "file", "outputPropertyName": "voiceover_audio" }
          }
        }
      },
      "id": "elevenlabs",
      "name": "ElevenLabs - Adam Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 200]
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "={{ $now.format('yyyy-MM-dd') + ' - ' + $('Code - Script Gen + Score Loop').item.json.product + ' - ' + $('Code - Script Gen + Score Loop').item.json.topic.replace(/ /g, '-') }}",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "1sPH9hOvbSa6_sZQiluf64PpFHx2uyXes", "mode": "id" },
        "options": {}
      },
      "id": "gdrive-folder",
      "name": "Google Drive - Create Content Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1420, 200],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "jsCode": "const FAL_API_KEY = $env['FAL_API_KEY'];\n\nconst scriptData = $('Code - Script Gen + Score Loop').item.json;\nconst script = scriptData.script;\nconst score = scriptData.score;\nconst product = scriptData.product;\nconst topic = scriptData.topic;\nconst target_audience = scriptData.target_audience;\nconst attempt_count = scriptData.attempt_count;\nconst folderId = $('Google Drive - Create Content Folder').item.json.id;\n\n// Carry voiceover binary from ElevenLabs\nconst audioData = $('ElevenLabs - Adam Voiceover').item.binary?.voiceover_audio?.data || '';\n\n// Wacky Pixar style — core suffix for all scenes\nconst PIXAR_STYLE = '3D animated Pixar style, vibrant saturated colors, wacky exaggerated cartoon characters, playful fun energy, bright cheerful lighting, Pixar movie render quality, clean animation aesthetic, no text overlays, no watermarks, no logos';\n\nconst productContext = {\n  vitamins: 'cartoon health supplements, colorful capsules, animated wellness energy',\n  gut_health: 'animated gut health, cartoon probiotic, happy stomach character, digestive wellness',\n  nobs_toothpaste: 'cartoon toothpaste tablets, animated oral care, bright smile character, eco-friendly bathroom'\n}[product] || 'animated health wellness product';\n\nasync function generateFluxImage(sceneDescription) {\n  const prompt = `${sceneDescription}, ${productContext} | ${PIXAR_STYLE}`;\n  const res = await fetch('https://fal.run/fal-ai/flux/schnell', {\n    method: 'POST',\n    headers: { 'Authorization': `Key ${FAL_API_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      prompt: prompt,\n      image_size: 'portrait_16_9',\n      num_inference_steps: 4,\n      num_images: 1,\n      enable_safety_checker: false\n    })\n  });\n  const data = await res.json();\n  if (!res.ok) throw new Error('Flux Schnell error: ' + JSON.stringify(data));\n  \n  // Download image and convert to base64\n  const imgRes = await fetch(data.images[0].url);\n  const buffer = await imgRes.arrayBuffer();\n  return Buffer.from(buffer).toString('base64');\n}\n\n// Generate all 20 images in parallel\nconst scenes = script.scenes.slice(0, 20);\nconst imageB64Array = await Promise.all(scenes.map(generateFluxImage));\n\n// Build images array (used by Split Out node downstream)\nconst images = scenes.map((scene, i) => ({\n  index: i + 1,\n  filename: `scene_${String(i + 1).padStart(2, '0')}.jpg`,\n  b64: imageB64Array[i],\n  description: scene,\n  is_irl: i >= 17,\n  folderId: folderId\n}));\n\n// Build script.txt content\nconst line = String.fromCharCode(9472).repeat(48);\nconst sceneList = scenes.map((s, i) => {\n  const tag = i >= 17 ? ' [IRL — film this yourself]' : ' [AI Pixar image generated]';\n  return `[SCENE ${String(i+1).padStart(2,'0')}]${tag}:\\n${s}`;\n}).join('\\n\\n');\n\nconst scriptText = `VITALESSENCE TIKTOK CONTENT PACKAGE\\n${'='.repeat(50)}\\n\\nProduct: ${product}\\nTopic: ${topic}\\nTarget Audience: ${target_audience}\\nGenerated: ${new Date().toISOString()}\\nImage Style: Wacky Pixar 3D Animated (Flux Schnell)\\n\\n${line}\\nSCORE REPORT\\n${line}\\nTotal: ${score.total_score}/25 — ${score.pass ? 'PASSED' : 'FAILED'}  |  Attempts: ${attempt_count}\\n  Hook Strength:     ${score.criteria_scores.hook_strength}/5\\n  Emotional Arc:     ${score.criteria_scores.emotional_arc}/5\\n  Brand Voice:       ${score.criteria_scores.brand_voice}/5\\n  Product Accuracy:  ${score.criteria_scores.product_accuracy}/5\\n  CTA Effectiveness: ${score.criteria_scores.cta_effectiveness}/5\\nFeedback: ${score.feedback}\\n\\n${line}\\nSCRIPT\\n${line}\\nHOOK: ${script.hook}\\n\\nVOICEOVER:\\n${script.voiceover}\\n\\nCTA: ${script.cta}\\n\\n${line}\\n20 SCENE DESCRIPTIONS\\n${line}\\nScenes 01-17: AI-generated Pixar-style images (in this Drive folder)\\nScenes 18-20: IRL footage — film yourself with the product for these\\n\\n${sceneList}\\n\\n${line}\\nEDITING NOTES\\n${line}\\n1. Import scene images (01-17) as background slides in CapCut\\n2. Layer voiceover.mp3 over the timeline\\n3. Replace scenes 18-20 with your IRL product footage\\n4. Add TikTok Shop product link sticker on the CTA frame\\n5. Export 1080x1920 for TikTok\\n`;\n\nreturn [{\n  json: { script, score, product, topic, target_audience, attempt_count, folderId, scriptText, images, total_images: images.length },\n  binary: {\n    voiceover_audio: { data: audioData, mimeType: 'audio/mpeg', fileName: 'voiceover.mp3' }\n  }\n}];"
      },
      "id": "code-images",
      "name": "Code - Generate 20 Images (Flux Schnell)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "voiceover.mp3",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "={{ $json.folderId }}", "mode": "id" },
        "binaryData": true,
        "inputBinaryField": "voiceover_audio",
        "mimeType": "audio/mpeg",
        "options": {}
      },
      "id": "gdrive-audio",
      "name": "Google Drive - Upload voiceover.mp3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 100],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "script.txt",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.folderId }}", "mode": "id" },
        "binaryData": false,
        "fileContent": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.scriptText }}",
        "mimeType": "text/plain",
        "options": {}
      },
      "id": "gdrive-script",
      "name": "Google Drive - Upload script.txt",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 220],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "o1", "name": "status", "value": "success", "type": "string" },
            { "id": "o2", "name": "product", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.product }}", "type": "string" },
            { "id": "o3", "name": "topic", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.topic }}", "type": "string" },
            { "id": "o4", "name": "score_total", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.score.total_score }}", "type": "number" },
            { "id": "o5", "name": "total_images", "value": 20, "type": "number" },
            { "id": "o6", "name": "hook", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.script.hook }}", "type": "string" },
            { "id": "o7", "name": "voiceover", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.script.voiceover }}", "type": "string" },
            { "id": "o8", "name": "folder_url", "value": "=https://drive.google.com/drive/folders/{{ $('Code - Generate 20 Images (Flux Schnell)').item.json.folderId }}", "type": "string" },
            { "id": "o9", "name": "note", "value": "Scenes 18-20 are IRL — replace with your own product footage in CapCut", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-output",
      "name": "Set - Final Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2140, 160]
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "id": "split-images",
      "name": "Split Out - Scene Images",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1900, 380]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: { filename: item.filename, index: item.index, folderId: item.folderId },\n  binary: {\n    image: { data: item.b64, mimeType: 'image/jpeg', fileName: item.filename }\n  }\n}];"
      },
      "id": "code-binary",
      "name": "Code - Set Image Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 380]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.filename }}",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "={{ $json.folderId }}", "mode": "id" },
        "binaryData": true,
        "inputBinaryField": "image",
        "mimeType": "image/jpeg",
        "options": {}
      },
      "id": "gdrive-image",
      "name": "Google Drive - Upload Scene Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2380, 380],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "status", "value": "failed", "type": "string" },
            { "id": "f2", "name": "message", "value": "Script failed quality threshold (18/25) after 3 attempts.", "type": "string" },
            { "id": "f3", "name": "product", "value": "={{ $json.product }}", "type": "string" },
            { "id": "f4", "name": "topic", "value": "={{ $json.topic }}", "type": "string" },
            { "id": "f5", "name": "last_score", "value": "={{ $json.score.total_score }}", "type": "number" },
            { "id": "f6", "name": "feedback", "value": "={{ $json.score.feedback }}", "type": "string" },
            {
              "id": "f7",
              "name": "failure_report",
              "value": "=FAILURE REPORT — VitalEssence TikTok Content\n==========================================\nProduct: {{ $json.product }}\nTopic: {{ $json.topic }}\nDate: {{ $now.toISO() }}\n\nFailed after 3 attempts. Score required: 18/25\nLast score: {{ $json.score.total_score }}/25\n\nCriteria:\n  Hook Strength:     {{ $json.score.criteria_scores.hook_strength }}/5\n  Emotional Arc:     {{ $json.score.criteria_scores.emotional_arc }}/5\n  Brand Voice:       {{ $json.score.criteria_scores.brand_voice }}/5\n  Product Accuracy:  {{ $json.score.criteria_scores.product_accuracy }}/5\n  CTA Effectiveness: {{ $json.score.criteria_scores.cta_effectiveness }}/5\n\nFeedback: {{ $json.score.feedback }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-failure",
      "name": "Set - Failure Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 520]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=failure-report-{{ $json.product }}-{{ $now.format('yyyy-MM-dd') }}.txt",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "1sPH9hOvbSa6_sZQiluf64PpFHx2uyXes", "mode": "id" },
        "binaryData": false,
        "fileContent": "={{ $json.failure_report }}",
        "mimeType": "text/plain",
        "options": {}
      },
      "id": "gdrive-failure",
      "name": "Google Drive - Upload Failure Report",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1420, 520],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set - Content Request", "type": "main", "index": 0 }]]
    },
    "Set - Content Request": {
      "main": [[{ "node": "Code - Script Gen + Score Loop", "type": "main", "index": 0 }]]
    },
    "Code - Script Gen + Score Loop": {
      "main": [[{ "node": "IF - Score Gate", "type": "main", "index": 0 }]]
    },
    "IF - Score Gate": {
      "main": [
        [{ "node": "ElevenLabs - Adam Voiceover", "type": "main", "index": 0 }],
        [{ "node": "Set - Failure Payload", "type": "main", "index": 0 }]
      ]
    },
    "ElevenLabs - Adam Voiceover": {
      "main": [[{ "node": "Google Drive - Create Content Folder", "type": "main", "index": 0 }]]
    },
    "Google Drive - Create Content Folder": {
      "main": [[{ "node": "Code - Generate 20 Images (Flux Schnell)", "type": "main", "index": 0 }]]
    },
    "Code - Generate 20 Images (Flux Schnell)": {
      "main": [[
        { "node": "Google Drive - Upload voiceover.mp3", "type": "main", "index": 0 },
        { "node": "Google Drive - Upload script.txt", "type": "main", "index": 0 },
        { "node": "Split Out - Scene Images", "type": "main", "index": 0 }
      ]]
    },
    "Google Drive - Upload voiceover.mp3": {
      "main": [[{ "node": "Set - Final Output", "type": "main", "index": 0 }]]
    },
    "Google Drive - Upload script.txt": {
      "main": [[{ "node": "Set - Final Output", "type": "main", "index": 0 }]]
    },
    "Split Out - Scene Images": {
      "main": [[{ "node": "Code - Set Image Binary", "type": "main", "index": 0 }]]
    },
    "Code - Set Image Binary": {
      "main": [[{ "node": "Google Drive - Upload Scene Image", "type": "main", "index": 0 }]]
    },
    "Set - Failure Payload": {
      "main": [[{ "node": "Google Drive - Upload Failure Report", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
