n8n-workflows/05-vitalessence-tiktok-content-creator.json
{
  "name": "05 - VitalEssence TikTok Content Creator (A/B)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "p1", "name": "product", "value": "magnesium_complex", "type": "string" },
            { "id": "p2", "name": "topic", "value": "morning routine", "type": "string" },
            { "id": "p3", "name": "target_audience", "value": "women 25-45 dealing with low energy, bloating, poor sleep, or stress", "type": "string" },
            { "id": "p4", "name": "script_style", "value": "ab_test", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-inputs",
      "name": "Set - Content Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 340]
    },
    {
      "parameters": {
        "jsCode": "const OPENAI_API_KEY = $env['OPENAI_API_KEY'];\nconst product = $input.first().json.product;\nconst topic = $input.first().json.topic;\nconst target_audience = $input.first().json.target_audience;\nconst script_style = $input.first().json.script_style || 'ab_test';\n\n// ── VARIANT A: Pixar Story ──────────────────────────────────────────\nconst PIXAR_SYSTEM = `You are the creative director for @vitalessencehealth, a TikTok Shop brand with a wacky, fun, Pixar-style animated aesthetic. Your scripts are playful, emotionally resonant storytelling — like an animated short film where the product saves the day.\n\nBRAND VOICE:\n- Energetic, fun, and warm. Like a cartoon character who found the secret to feeling amazing.\n- Wacky but relatable. Exaggerated reactions and situations are encouraged.\n- Storytelling-first: the audience struggle is the hero. The product is the magical solution.\n- Never salesy. The CTA lands naturally as the happy ending.\n\nPRODUCT CONTEXT:\n- vitamins: Daily supplement stack. Energy, mental clarity, filling nutritional gaps. Key emotion: I finally feel like the main character of my own life.\n- gut_health: Digestive enzyme and probiotic blend. Bloating relief, gut-brain connection, food freedom. Key emotion: I can finally eat my favorite foods without my stomach staging a revolt.\n- nobs_toothpaste: Toothpaste tablets — zero plastic, clean ingredients, travel-friendly. Whiter teeth, fresh breath, clean beauty. Key emotion: My bathroom routine just became the main character arc.\n- magnesium_complex: 8-form magnesium complex. Energy, sleep, muscle recovery, stress relief, leg cramps, bloating, mood. Key emotion: My body finally has everything it was missing all along.\n\nSCRIPT STRUCTURE — always follow this arc:\n[HOOK 0-3s]: Wacky, surprising, stops the scroll. Exaggerated situation or bold question.\n[PROBLEM 3-10s]: Relatable struggle told with humor and heart.\n[DISCOVERY 10-20s]: Finding @vitalessencehealth. Feels like fate, not an ad.\n[TRANSFORMATION 20-35s]: The animated glow-up. Specific, sensory, fun.\n[CTA 35-45s]: Soft close pointing to TikTok Shop. One clear joyful action.\n\nSCENE STRUCTURE:\nReturn exactly 20 scene descriptions. Scenes 1-17 are animated story moments (AI-generated Pixar style). Scenes 18-20 are CTA moments — describe them as IRL product shots the creator will film themselves (TikTok Shop overlay, product closeup, creator holding product).\n\nOUTPUT FORMAT strict JSON no markdown:\n{\"voiceover\": \"<clean voiceover 75-115 words>\", \"scenes\": [\"<scene 1 description>\", ..., \"<scene 20 description>\"], \"hook\": \"<scroll-stopping first line>\", \"cta\": \"<final CTA line>\"}`;\n\n// ── VARIANT B: Symptom Stack ────────────────────────────────────────\nconst SYMPTOM_STACK_SYSTEM = `You are the performance copy director for @vitalessencehealth, a TikTok Shop supplement brand. Your scripts use the proven \"Symptom Stack\" formula — the most viral format in health supplement TikTok.\n\nFORMULA — follow in exact order:\n1. SYMPTOM LIST (0-10s): 5-7 specific symptoms each mapped to a named form of the product. Use visceral, body-specific language. Make the viewer self-diagnose from the list.\n2. PIVOT (10-14s): \"But buying all this separately is expensive and nobody wants to take X pills a day.\"\n3. SOLUTION (14-20s): One capsule/complex that has everything. Name the number of forms. Sugar-free, gluten-free.\n4. BENEFITS TRIO (20-28s): Always exactly 3: sleep deeper / wake up energized / think clearer.\n5. AUTHORITY STAT (28-33s): \"Magnesium supports 400+ functions in your body. More than half of Americans are deficient.\"\n6. CTA + URGENCY (33-45s): Price anchor ($13-15) + TikTok Shop + \"orange cart\" + \"tap before it disappears.\"\n\nHOOK TYPES — pick the most unexpected:\n- Visceral body symptom (specific, body-level, slightly shocking but relatable)\n- Visual body exaggeration (funny but real — \"belly like you're 3 months pregnant\")\n- Performance or energy fear\n- Bedroom or relationship angle\n\nMAGNESIUM SYMPTOM MAP — use these exact pairings:\n- Private parts odor / BV → orotate\n- Bloating after eating → carbonate\n- Low libido / no desire in the bedroom → malate\n- Leg cramps at night → glycinate\n- Headaches that won't go away → taurate\n- Low energy / tired all day → citrate\n- Can't sleep / insomnia → threonate\n- Stress and anxiety → taurate\n- Brain fog / mental cloudiness → aspartate\n- Muscle soreness or weakness → malate\n- Waking up to pee at night → glycinate\n- Eye twitching → taurate\n- Heart palpitations → orotate\n\nPRODUCT CONTEXT:\n- magnesium_complex: 8-form magnesium complex. Sugar-free. Gluten-free. One capsule per day. $13-15 on TikTok Shop.\n- vitamins: Multi-nutrient daily stack. One capsule. Energy, clarity, immunity.\n- gut_health: Digestive enzyme + probiotic blend. One capsule. Bloating, gut-brain connection.\n- nobs_toothpaste: Toothpaste tablets. One tablet per brush. Whiter teeth, fresh breath, zero plastic.\n\nSCENE STRUCTURE:\nReturn exactly 20 scene descriptions. Scenes 1-17 are visual moments for each symptom/solution pair and the transformation (realistic lifestyle photography OR bold text-on-screen graphic style). Scenes 18-20 are IRL CTA product shots.\n\nOUTPUT FORMAT strict JSON no markdown:\n{\"voiceover\": \"<45s script 85-120 words>\", \"scenes\": [\"<scene 1>\", ..., \"<scene 20>\"], \"hook\": \"<first visceral symptom line>\", \"cta\": \"<orange cart urgency line>\"}`;\n\n// ── Pixar Scorer ─────────────────────────────────────────────────────\nconst PIXAR_SCORER = `You are a TikTok quality judge for @vitalessencehealth Pixar Story scripts. Score on 5 criteria 1-5 each. Pass threshold is 18 out of 25.\n\n1. HOOK STRENGTH (1-5) — stops scroll in 3 seconds, wacky and surprising\n2. EMOTIONAL ARC (1-5) — clear fun problem-to-magical-solution journey\n3. BRAND VOICE (1-5) — wacky Pixar energy, warm, not salesy\n4. PRODUCT ACCURACY (1-5) — correct specific benefits, no compliance red flags\n5. CTA EFFECTIVENESS (1-5) — natural happy ending pointing to TikTok Shop\n\nOUTPUT strict JSON: {\"total_score\": <5-25>, \"pass\": <true if >=18>, \"feedback\": \"<2-3 sentences>\", \"criteria_scores\": {\"hook_strength\": <1-5>, \"emotional_arc\": <1-5>, \"brand_voice\": <1-5>, \"product_accuracy\": <1-5>, \"cta_effectiveness\": <1-5>}}`;\n\n// ── Symptom Stack Scorer ─────────────────────────────────────────────\nconst SYMPTOM_SCORER = `You are a TikTok quality judge for @vitalessencehealth Symptom Stack scripts. Score on 5 criteria 1-5 each. Pass threshold is 18 out of 25.\n\n1. HOOK VISCERAL IMPACT (1-5) — first symptom is body-specific and makes the viewer self-diagnose immediately\n2. SYMPTOM SPECIFICITY (1-5) — each symptom maps to a named form, feels medically credible and researched\n3. PIVOT CLARITY (1-5) — the \"buying separately is expensive\" line lands clean and natural, not forced\n4. BENEFITS TRIO + AUTHORITY (1-5) — exactly 3 benefits stated cleanly plus the deficiency stat\n5. CTA URGENCY (1-5) — price anchor present, orange cart mentioned, scarcity feels real\n\nOUTPUT strict JSON: {\"total_score\": <5-25>, \"pass\": <true if >=18>, \"feedback\": \"<2-3 sentences>\", \"criteria_scores\": {\"hook_visceral_impact\": <1-5>, \"symptom_specificity\": <1-5>, \"pivot_clarity\": <1-5>, \"benefits_authority\": <1-5>, \"cta_urgency\": <1-5>}}`;\n\nasync function callOpenAI(messages, temperature, maxTokens) {\n  const res = await fetch('https://api.openai.com/v1/chat/completions', {\n    method: 'POST',\n    headers: { 'Authorization': `Bearer ${OPENAI_API_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ model: 'gpt-4o', messages, temperature, max_tokens: maxTokens, response_format: { type: 'json_object' } })\n  });\n  const data = await res.json();\n  if (!res.ok) throw new Error('OpenAI error: ' + JSON.stringify(data.error || data));\n  return JSON.parse(data.choices[0].message.content);\n}\n\nasync function generateVariant(systemPrompt, scorerPrompt, variantLabel) {\n  let attempt = 0, script = null, score = null, passed = false;\n  while (attempt < 3) {\n    attempt++;\n    script = await callOpenAI([\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: `Write a TikTok script for @vitalessencehealth.\\n\\nProduct: ${product}\\nTopic: ${topic}\\nTarget Audience: ${target_audience}\\n\\nReturn strict JSON with exactly 20 scenes.` }\n    ], 0.85, 1200);\n    if (!Array.isArray(script.scenes) || script.scenes.length < 18) {\n      script.scenes = (script.scenes || []).concat(Array(20).fill('Scene')).slice(0, 20);\n    }\n    score = await callOpenAI([\n      { role: 'system', content: scorerPrompt },\n      { role: 'user', content: `Score this script.\\n\\nProduct: ${product}\\nAudience: ${target_audience}\\n\\nScript: ${JSON.stringify(script)}\\n\\nReturn strict JSON.` }\n    ], 0.2, 600);\n    if (score.pass === true) { passed = true; break; }\n  }\n  return { variant: variantLabel, script, score, passed, attempt_count: attempt, product, topic, target_audience };\n}\n\nlet results = [];\nif (script_style === 'pixar_story') {\n  results = [await generateVariant(PIXAR_SYSTEM, PIXAR_SCORER, 'A')];\n} else if (script_style === 'symptom_stack') {\n  results = [await generateVariant(SYMPTOM_STACK_SYSTEM, SYMPTOM_SCORER, 'B')];\n} else {\n  // ab_test: generate both in parallel\n  const [varA, varB] = await Promise.all([\n    generateVariant(PIXAR_SYSTEM, PIXAR_SCORER, 'A'),\n    generateVariant(SYMPTOM_STACK_SYSTEM, SYMPTOM_SCORER, 'B')\n  ]);\n  results = [varA, varB];\n}\n\nreturn results.map(v => ({ json: v }));"
      },
      "id": "code-script",
      "name": "Code - Script Gen + Score Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "pass-check", "leftValue": "={{ $json.passed }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-score",
      "name": "IF - Score Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [940, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/pNInz6obpgDQGcFmaJgB",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xi-api-key", "value": "={{ $env['ELEVENLABS_API_KEY'] }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "audio/mpeg" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "text": "={{ $json.script.voiceover }}",
          "model_id": "eleven_multilingual_v2",
          "voice_settings": { "stability": 0.75, "similarity_boost": 0.85, "style": 0.3, "use_speaker_boost": true }
        },
        "options": {
          "response": {
            "response": { "responseFormat": "file", "outputPropertyName": "voiceover_audio" }
          }
        }
      },
      "id": "elevenlabs",
      "name": "ElevenLabs - Adam Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 200]
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "={{ $now.format('yyyy-MM-dd') + ' - ' + $json.product + ' - ' + $json.topic.replace(/ /g, '-') + ' [Variant-' + $json.variant + ']' }}",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "1sPH9hOvbSa6_sZQiluf64PpFHx2uyXes", "mode": "id" },
        "options": {}
      },
      "id": "gdrive-folder",
      "name": "Google Drive - Create Content Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1420, 200],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "jsCode": "const FAL_API_KEY = $env['FAL_API_KEY'];\n\nconst scriptData = $('IF - Score Gate').item.json;\nconst script = scriptData.script;\nconst score = scriptData.score;\nconst product = scriptData.product;\nconst topic = scriptData.topic;\nconst target_audience = scriptData.target_audience;\nconst attempt_count = scriptData.attempt_count;\nconst variant = scriptData.variant;\nconst folderId = $('Google Drive - Create Content Folder').item.json.id;\n\nconst audioData = $('ElevenLabs - Adam Voiceover').item.binary?.voiceover_audio?.data || '';\n\n// Image style per variant\nconst PIXAR_STYLE = '3D animated Pixar style, vibrant saturated colors, wacky exaggerated cartoon characters, playful fun energy, bright cheerful lighting, Pixar movie render quality, clean animation aesthetic, no text overlays, no watermarks, no logos';\nconst SYMPTOM_STYLE = 'realistic lifestyle photography, clean bright minimal aesthetic, health and wellness brand, natural warm lighting, authentic human moments, magazine-quality composition, no text overlays, no watermarks, no logos';\n\nconst imageStyle = variant === 'A' ? PIXAR_STYLE : SYMPTOM_STYLE;\n\nconst productContext = {\n  vitamins: variant === 'A'\n    ? 'cartoon health supplement capsules, colorful animated wellness energy, glowing vitamin bottle'\n    : 'real supplement bottle on marble counter, morning light, healthy woman',\n  gut_health: variant === 'A'\n    ? 'animated gut health, happy cartoon stomach character, probiotic capsule hero'\n    : 'real probiotic bottle, woman eating freely at restaurant, comfortable and happy',\n  nobs_toothpaste: variant === 'A'\n    ? 'cartoon toothpaste tablet, animated bright smile, eco bathroom character'\n    : 'real toothpaste tablets on clean bathroom counter, bright white smile closeup',\n  magnesium_complex: variant === 'A'\n    ? 'cartoon magnesium capsules, animated glowing body with energy sparks, wacky wellness character'\n    : 'real magnesium complex bottle, bedside table, woman sleeping peacefully or waking up energized'\n}[product] || (variant === 'A' ? 'animated health wellness supplement' : 'real health supplement product');\n\nasync function generateFluxImage(sceneDescription) {\n  const prompt = `${sceneDescription}, ${productContext} | ${imageStyle}`;\n  const res = await fetch('https://fal.run/fal-ai/flux/schnell', {\n    method: 'POST',\n    headers: { 'Authorization': `Key ${FAL_API_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      prompt,\n      image_size: 'portrait_16_9',\n      num_inference_steps: 4,\n      num_images: 1,\n      enable_safety_checker: false\n    })\n  });\n  const data = await res.json();\n  if (!res.ok) throw new Error('Flux Schnell error: ' + JSON.stringify(data));\n  const imgRes = await fetch(data.images[0].url);\n  const buffer = await imgRes.arrayBuffer();\n  return Buffer.from(buffer).toString('base64');\n}\n\nconst scenes = script.scenes.slice(0, 20);\nconst imageB64Array = await Promise.all(scenes.map(generateFluxImage));\n\nconst images = scenes.map((scene, i) => ({\n  index: i + 1,\n  filename: `${variant}_scene_${String(i + 1).padStart(2, '0')}.jpg`,\n  b64: imageB64Array[i],\n  description: scene,\n  is_irl: i >= 17,\n  folderId\n}));\n\nconst styleLabel = variant === 'A' ? 'Pixar Story' : 'Symptom Stack';\nconst imageStyleLabel = variant === 'A' ? 'Wacky Pixar 3D Animated (Flux Schnell)' : 'Realistic Lifestyle Photography (Flux Schnell)';\nconst line = String.fromCharCode(9472).repeat(48);\n\nconst sceneList = scenes.map((s, i) => {\n  const tag = i >= 17 ? ' [IRL — film this yourself]' : ` [AI ${variant === 'A' ? 'Pixar' : 'Lifestyle'} image generated]`;\n  return `[SCENE ${String(i+1).padStart(2,'0')}]${tag}:\\n${s}`;\n}).join('\\n\\n');\n\nconst criteriaLines = Object.entries(score.criteria_scores)\n  .map(([k, v]) => `  ${k.replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase()).padEnd(26)}: ${v}/5`)\n  .join('\\n');\n\nconst scriptText = `VITALESSENCE TIKTOK CONTENT PACKAGE — VARIANT ${variant} (${styleLabel})\\n${'='.repeat(54)}\\n\\nProduct: ${product}\\nTopic: ${topic}\\nTarget Audience: ${target_audience}\\nGenerated: ${new Date().toISOString()}\\nScript Style: ${styleLabel}\\nImage Style: ${imageStyleLabel}\\n\\n${line}\\nSCORE REPORT\\n${line}\\nTotal: ${score.total_score}/25 — ${score.pass ? 'PASSED ✓' : 'FAILED ✗'}  |  Attempts: ${attempt_count}\\n${criteriaLines}\\nFeedback: ${score.feedback}\\n\\n${line}\\nSCRIPT\\n${line}\\nHOOK: ${script.hook}\\n\\nVOICEOVER:\\n${script.voiceover}\\n\\nCTA: ${script.cta}\\n\\n${line}\\n20 SCENE DESCRIPTIONS\\n${line}\\nScenes 01-17: AI-generated ${variant === 'A' ? 'Pixar-style' : 'lifestyle'} images (in this Drive folder)\\nScenes 18-20: IRL footage — film yourself with the product for these\\n\\n${sceneList}\\n\\n${line}\\nEDITING NOTES\\n${line}\\n1. Import ${variant}_scene_01 through ${variant}_scene_17 as slides in CapCut\\n2. Layer ${variant}_voiceover.mp3 over the full timeline\\n3. Replace scenes 18-20 with your IRL product footage\\n4. Add TikTok Shop product link sticker on the CTA frame\\n5. Export 1080x1920 for TikTok\\n6. POST AS VARIANT ${variant} — track views, saves, and purchases separately for A/B data\\n`;\n\nreturn [{\n  json: { script, score, product, topic, target_audience, attempt_count, variant, styleLabel, folderId, scriptText, images, total_images: images.length },\n  binary: {\n    voiceover_audio: { data: audioData, mimeType: 'audio/mpeg', fileName: `${variant}_voiceover.mp3` }\n  }\n}];"
      },
      "id": "code-images",
      "name": "Code - Generate 20 Images (Flux Schnell)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.variant + '_voiceover.mp3' }}",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "={{ $json.folderId }}", "mode": "id" },
        "binaryData": true,
        "inputBinaryField": "voiceover_audio",
        "mimeType": "audio/mpeg",
        "options": {}
      },
      "id": "gdrive-audio",
      "name": "Google Drive - Upload voiceover.mp3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 100],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.variant + '_script.txt' }}",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.folderId }}", "mode": "id" },
        "binaryData": false,
        "fileContent": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.scriptText }}",
        "mimeType": "text/plain",
        "options": {}
      },
      "id": "gdrive-script",
      "name": "Google Drive - Upload script.txt",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1900, 220],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "o1", "name": "status", "value": "success", "type": "string" },
            { "id": "o2", "name": "variant", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.variant }}", "type": "string" },
            { "id": "o3", "name": "style", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.styleLabel }}", "type": "string" },
            { "id": "o4", "name": "product", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.product }}", "type": "string" },
            { "id": "o5", "name": "topic", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.topic }}", "type": "string" },
            { "id": "o6", "name": "score_total", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.score.total_score }}", "type": "number" },
            { "id": "o7", "name": "total_images", "value": 20, "type": "number" },
            { "id": "o8", "name": "hook", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.script.hook }}", "type": "string" },
            { "id": "o9", "name": "voiceover", "value": "={{ $('Code - Generate 20 Images (Flux Schnell)').item.json.script.voiceover }}", "type": "string" },
            { "id": "o10", "name": "folder_url", "value": "=https://drive.google.com/drive/folders/{{ $('Code - Generate 20 Images (Flux Schnell)').item.json.folderId }}", "type": "string" },
            { "id": "o11", "name": "ab_note", "value": "Post Variant A and Variant B on separate days. Track views, saves, and TikTok Shop purchases for each. Winning style gets 3x the posting frequency next week.", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-output",
      "name": "Set - Final Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2140, 160]
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "id": "split-images",
      "name": "Split Out - Scene Images",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1900, 380]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: { filename: item.filename, index: item.index, folderId: item.folderId },\n  binary: {\n    image: { data: item.b64, mimeType: 'image/jpeg', fileName: item.filename }\n  }\n}];"
      },
      "id": "code-binary",
      "name": "Code - Set Image Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 380]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.filename }}",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "={{ $json.folderId }}", "mode": "id" },
        "binaryData": true,
        "inputBinaryField": "image",
        "mimeType": "image/jpeg",
        "options": {}
      },
      "id": "gdrive-image",
      "name": "Google Drive - Upload Scene Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2380, 380],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "status", "value": "failed", "type": "string" },
            { "id": "f2", "name": "variant", "value": "={{ $json.variant }}", "type": "string" },
            { "id": "f3", "name": "message", "value": "Script failed quality threshold (18/25) after 3 attempts.", "type": "string" },
            { "id": "f4", "name": "product", "value": "={{ $json.product }}", "type": "string" },
            { "id": "f5", "name": "topic", "value": "={{ $json.topic }}", "type": "string" },
            { "id": "f6", "name": "last_score", "value": "={{ $json.score.total_score }}", "type": "number" },
            { "id": "f7", "name": "feedback", "value": "={{ $json.score.feedback }}", "type": "string" },
            {
              "id": "f8",
              "name": "failure_report",
              "value": "=FAILURE REPORT — VitalEssence TikTok Content\n==========================================\nVariant: {{ $json.variant }} ({{ $json.variant === 'A' ? 'Pixar Story' : 'Symptom Stack' }})\nProduct: {{ $json.product }}\nTopic: {{ $json.topic }}\nDate: {{ $now.toISO() }}\n\nFailed after 3 attempts. Score required: 18/25\nLast score: {{ $json.score.total_score }}/25\n\nCriteria scores:\n{{ Object.entries($json.score.criteria_scores).map(([k,v]) => '  ' + k + ': ' + v + '/5').join('\\n') }}\n\nFeedback: {{ $json.score.feedback }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-failure",
      "name": "Set - Failure Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 520]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=failure-report-{{ $json.variant }}-{{ $json.product }}-{{ $now.format('yyyy-MM-dd') }}.txt",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "1sPH9hOvbSa6_sZQiluf64PpFHx2uyXes", "mode": "id" },
        "binaryData": false,
        "fileContent": "={{ $json.failure_report }}",
        "mimeType": "text/plain",
        "options": {}
      },
      "id": "gdrive-failure",
      "name": "Google Drive - Upload Failure Report",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1420, 520],
      "credentials": { "googleDriveOAuth2Api": { "id": "gdrive-cred", "name": "Google Drive" } }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set - Content Request", "type": "main", "index": 0 }]]
    },
    "Set - Content Request": {
      "main": [[{ "node": "Code - Script Gen + Score Loop", "type": "main", "index": 0 }]]
    },
    "Code - Script Gen + Score Loop": {
      "main": [[{ "node": "IF - Score Gate", "type": "main", "index": 0 }]]
    },
    "IF - Score Gate": {
      "main": [
        [{ "node": "ElevenLabs - Adam Voiceover", "type": "main", "index": 0 }],
        [{ "node": "Set - Failure Payload", "type": "main", "index": 0 }]
      ]
    },
    "ElevenLabs - Adam Voiceover": {
      "main": [[{ "node": "Google Drive - Create Content Folder", "type": "main", "index": 0 }]]
    },
    "Google Drive - Create Content Folder": {
      "main": [[{ "node": "Code - Generate 20 Images (Flux Schnell)", "type": "main", "index": 0 }]]
    },
    "Code - Generate 20 Images (Flux Schnell)": {
      "main": [[
        { "node": "Google Drive - Upload voiceover.mp3", "type": "main", "index": 0 },
        { "node": "Google Drive - Upload script.txt", "type": "main", "index": 0 },
        { "node": "Split Out - Scene Images", "type": "main", "index": 0 }
      ]]
    },
    "Google Drive - Upload voiceover.mp3": {
      "main": [[{ "node": "Set - Final Output", "type": "main", "index": 0 }]]
    },
    "Google Drive - Upload script.txt": {
      "main": [[{ "node": "Set - Final Output", "type": "main", "index": 0 }]]
    },
    "Split Out - Scene Images": {
      "main": [[{ "node": "Code - Set Image Binary", "type": "main", "index": 0 }]]
    },
    "Code - Set Image Binary": {
      "main": [[{ "node": "Google Drive - Upload Scene Image", "type": "main", "index": 0 }]]
    },
    "Set - Failure Payload": {
      "main": [[{ "node": "Google Drive - Upload Failure Report", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
